<link rel="stylesheet" type="text/css" href="css/skeleton.css">
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<section class="trailinfo">
  <div class="container" ng-model="trails">
  	<div class="row">

    <a href="#/details/{{prevItem}}" class="button">&lt;</a>
    <a href="#/details/{{nextItem}}" class="button">&gt;</a>
      <img ng-src="images/{{trails[whichItem].shortname}}_tn.jpg" alt="Photo of {{trails[whichItem].name}}">
      <div class="row"><h6>{{trails[whichItem].about}}</h6></div>
    </div>
  </div>
  <div class="eleven columns">
  <a class="button" href="index.html">&laquo; Back to search</a></div></div>
</section>