<link rel="stylesheet" type="text/css" href="css/skeleton.css">
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<section class="trailpage">
  <div class="container">
    <h1>Trail Finder</h1>
    <label>search: </label>
    <input type="search" ng-model="query" placeholder="Look for a trail" autofocus>
<div class="content">

<ul class="container" ng-show="query">
    <li class="columns" ng-repeat="item in trails | filter: query | orderBy: trailOrder:direction">
      <a href="#/details/{{trails.indexOf(item)}}">
        <div class "img">
        <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Trail map of {{item.name}}">
      </div>
  <!-- <article class="portfolio-item group" ng-repeat="portfolio in portfolios | filter:searchFor">
    <figure class="portfolio-image">
      <img ng-src="{{ portfolio.imageurl }}" alt="{{ portfolio.title }}">
    </figure>
    <header class="portfolio-info">
      <a href="index.html#/portfolio/{{portfolio.name}}">
        <span class="title" ng-bind="portfolio.title"></span>
      </a>
      <span class="date" ng-bind="portfolio.date"></span>
      <div class="description" ng-bind="portfolio.description"></div>
    </header>
  </article> -->
        </div>
      </a>
    </li>
  </ul>  
</section>

  